.masonry {
    padding: 0px;
    .masonry-brick {
        width: 25%;
    }
}

.description {
    &.short {
        min-height: 70px;
        max-height: 70px;
        overflow: hidden;
    }
}

.game-canvas {
    .sgplayer {
        display: block;
        margin: 0 auto;
    }
}

.game-pagination {
    text-align: center;
    ul {
        display: block;
        list-style: none;
    }
    .pagination li {
        display: inline-block;
        margin-right: 1px;
        a {
            display: block;
            padding: 10px;
            background: white;
            border: 1px solid red;
            min-width: 45px;
            text-align: center;
            text-decoration: none;
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1000px) {
    .masonry {
        padding: 0px;
        .masonry-brick {
            width: 33%;
        }
    }
}

@media all and (max-width: 480px) {
    .masonry {
        padding: 0px;
        .masonry-brick {
            width: 100%;
        }
    }
}