#layout-content-with-toolbar {
    #toolbar-progress-linear {
        position: fixed;
        left: 0px;
        height: 2px;
        overflow: hidden;
        top: 64px;
    }
    #toolbar {
        padding: 0 0 0 16px;
        .logo {
            margin-right: 16px;
            cursor: pointer;
            .logo-image {
                display: block;
                background: material-color('light-blue', '600');
                width: 32px;
                min-width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 500;
                border-radius: 2px;
            }
            .logo-text {
                color: rgba(0, 0, 0, 0.87);
                margin-left: 16px;
                font-size: 16px;
            }
        }
    }
    #toolbar-progress {
        position: relative;
        margin-right: 10px;
    }
}

@media all and (max-width: 568px) {
    .games {
        .play {
            #toolbar {
                display: none;
            }
            #content {
                top: 0px!important;
            }
        }
    }
    #toolbar {
        .logo {
            .logo-text {
                display: none;
            }
        }
        #user-menu {
            .username {
                display: none;
            }
        }
    }
}