<div id="login-v2" layout="row" layout-align="start">
    <div id="login-v2-intro" flex hide show-gt-sm>
        <span class="teaser" translate="LOGIN.TEASER">DON't MISS THE FUN, LOG IN TO PLAY MORE!</span>
        <div class="game-login-canvas">
            <script type='text/javascript' id=293182312>
                (function(d, gn, scriptId) {
                    setTimeout(function() {
                        var prop = {
                            'agent': 'pub-13656-13936',
                            'bgcolor': '#fff',
                            'wrapperwidth': '600px',
                            'wrapperheight': '400px',
                            'gamewidth': '100%',
                            'gameheight': '100%',
                            'game_fullscreen_on_mobile': 'true',
                            'locale': 'en'
                        };
                        jsid = 'sgEmbedJS';
                        if (d.getElementById(jsid)) {
                            embed(d, scriptId, gn, prop);
                        } else {
                            var s = d.createElement('script');
                            s.id = jsid;
                            s.type = 'text/javascript';
                            s.onload = function() {
                                embed(d, scriptId, gn, prop);
                            };
                            s.src = '//dop3jnx8my3ym.cloudfront.net/embedder.js';
                            d.getElementsByTagName('head')[0].appendChild(s);
                        }
                    }, 1000);
                }(document, 'free-the-ball', 293182312));
            </script>
        </div>
    </div>

    <div id="login-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
        <div id="login-v2-form">
            <div class="logo md-accent-bg">
                <span ng-show="!vm.game.thumbBig">G</span>
                <img ng-show="vm.game.thumbBig" class="home-game-thumb" ng-src="{{vm.game.thumbBig}}" />
            </div>

            <div class="title" translate="LOGIN.TITLE">Log in to your account</div>
            <div class="description" translate="LOGIN.LOGIN_MESSAGE">Login</div>

            <div class="separator">
                <span class="text" translate="LOGIN.OR">LOGIN WITH</span>
            </div>

            <div layout="column" layout-align="start center">
                <md-button ng-click="vm.signInWithGoogle()" class="md-raised google">
                    <div layout="row" layout-align="center center">
                        <span>
                            <md-icon md-font-icon="icon-google-plus" class="s16"></md-icon>
                            <span translate="LOGIN.WITH_GOOGLE">Log in with Google</span>
                        </span>
                    </div>
                </md-button>

                <md-button ng-click="vm.signInWithFacebook()" class="md-raised facebook">
                    <div layout="row" layout-align="center center">
                        <span>
                            <md-icon md-font-icon="icon-facebook" class="s16"></md-icon>
                            <span translate="LOGIN.WITH_FACEBOOK">Log in with Facebook</span>
                        </span>
                    </div>
                </md-button>
            </div>
            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text" translate="LOGIN.FOOTER.COPYRIGHT">&copy; OMEL GAMES. ALL RIGHTS RESERVED.</span>
            </div>
        </div>
    </div>
</div>