@-webkit-keyframes play-blink {
    0% {
        transform: scale(1.0);
    }
    25% {
        transform: scale(1.15);
    }
    50% {
        transform: scale(1.20);
    }
    75% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.0);
    }
}

@-moz-keyframes play-blink {
    0% {
        transform: scale(1.0);
    }
    25% {
        transform: scale(1.15);
    }
    50% {
        transform: scale(1.20);
    }
    75% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.0);
    }
}

@-o-keyframes play-blink {
    0% {
        transform: scale(1.0);
    }
    25% {
        transform: scale(1.15);
    }
    50% {
        transform: scale(1.20);
    }
    75% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes play-blink {
    0% {
        transform: scale(1.0);
    }
    25% {
        transform: scale(1.15);
    }
    50% {
        transform: scale(1.20);
    }
    75% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.0);
    }
}

.mobile-intro-game-play md-icon {
    -webkit-animation: play-blink 1s infinite;
    /* Safari 4+ */
    -moz-animation: play-blink 1s infinite;
    /* Fx 5+ */
    -o-animation: play-blink 1s infinite;
    /* Opera 12+ */
    animation: play-blink 1s infinite;
    /* IE 10+, Fx 29+ */
}

#login {
    height: 100%;
    background: url('/assets/images/backgrounds/march.jpg') no-repeat;
    background-size: cover;
    #login-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;
        #login-form {
            width: 384px;
            max-width: 384px;
            padding: 32px;
            background: #FFFFFF;
            text-align: center;
            .logo {
                width: 128px;
                height: 128px;
                line-height: 128px;
                font-size: 86px;
                font-weight: 500;
                margin: 32px auto;
                color: #FFFFFF;
                border-radius: 2px;
                text-align: center;
            }
            .title {
                font-size: 17px;
                margin: 16px 0 32px 0;
            }
            form {
                width: 100%;
                text-align: left;
                md-checkbox {
                    margin: 0;
                }
                .remember-forgot-password {
                    font-size: 13px;
                    margin-top: 8px;
                    .remember-me {
                        margin-bottom: 16px
                    }
                    .forgot-password {
                        font-size: 13px;
                        font-weight: 500;
                        margin-bottom: 16px
                    }
                }
                .submit-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                }
            }
            .register {
                margin: 32px auto 24px auto;
                width: 250px;
                font-weight: 500;
                .text {
                    margin-right: 8px;
                }
                .link {}
            }
            .separator {
                font-size: 15px;
                font-weight: 600;
                margin: 24px auto 16px auto;
                position: relative;
                overflow: hidden;
                width: 100px;
                color: rgba(0, 0, 0, 0.54);
                .text {
                    display: inline-block;
                    vertical-align: baseline;
                    position: relative;
                    padding: 0 8px;
                    z-index: 9999;
                    &:before,
                    &:after {
                        content: '';
                        display: block;
                        width: 30px;
                        position: absolute;
                        top: 10px;
                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                    }
                    &:before {
                        right: 100%;
                    }
                    &:after {
                        left: 100%;
                    }
                }
            }
            .md-button {
                &.google,
                &.facebook {
                    width: 192px;
                    text-transform: none;
                    color: #FFFFFF;
                    font-size: 13px;
                    md-icon {
                        color: #FFFFFF;
                        margin: 0 8px 0 0;
                    }
                }
                &.google {
                    background-color: #D73D32;
                }
                &.facebook {
                    background-color: rgb(63, 92, 154);
                }
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {
    #login {
        #login-form-wrapper {
            padding: 16px;
            #login-form {
                padding: 24px;
                width: 100%;
                form {
                    .md-button {
                        width: 90%;
                    }
                }
                .md-button {
                    &.google,
                    &.facebook {
                        width: 80%;
                    }
                }
            }
        }
    }
}

#login-v2 {
    height: 100%;
    overflow: hidden;
    background: url('/assets/images/backgrounds/march.jpg') no-repeat;
    background-size: cover;
    #login-v2-intro {
        padding: 128px;
        &.game-wrapper {
            .close-button {
                display: none;
            }
        }
        .logo {
            width: 128px;
            height: 128px;
            line-height: 128px;
            font-size: 86px;
            font-weight: 500;
            margin-bottom: 32px;
            color: #FFFFFF;
            border-radius: 2px;
            text-align: center;
        }
        .teaser {
            display: block;
            position: absolute;
            width: 600px;
            padding: 10px 0;
            text-align: left;
            font-size: 29px;
            margin-top: -60px;
        }
        .title {
            font-size: 42px;
            font-weight: 300;
        }
        .description {
            padding-top: 8px;
            font-size: 14px;
            max-width: 600px;
        }
    }
    #login-v2-form-wrapper {
        width: 416px;
        min-width: 416px;
        max-width: 416px;
        height: 100%;
        background: #FFFFFF;
        #login-v2-form {
            padding: 50px 48px 48px 48px;
            .logo {
                width: 128px;
                height: 128px;
                line-height: 128px;
                font-size: 86px;
                font-weight: 500;
                margin: 32px auto;
                color: #FFFFFF;
                border-radius: 2px;
                text-align: center;
                .mobile-intro-game-thumb {
                    margin: 4px;
                    width: 120px;
                    height: 120px;
                    display: none;
                }
                .mobile-intro-game-play {
                    position: relative;
                    top: -128px;
                    z-index: 9999999999999;
                    display: none;
                    .play-button {
                        position: relative;
                        margin-top: -128px;
                        md-icon {
                            font-size: 50px;
                            color: rgb(186, 227, 248);
                            width: 50px;
                            height: 50px;
                            margin-top: -10px;
                        }
                    }
                }
            }
            .title {
                font-size: 21px;
                text-align: center;
            }
            .description {
                padding-top: 8px;
                text-align: center;
            }
            form {
                width: 100%;
                text-align: left;
                padding-top: 32px;
                md-checkbox {
                    margin: 0;
                }
                .remember-forgot-password {
                    font-size: 13px;
                    margin-top: 8px;
                    .remember-me {
                        margin-bottom: 16px
                    }
                    .forgot-password {
                        font-size: 13px;
                        font-weight: 500;
                        margin-bottom: 16px
                    }
                }
                .submit-button {
                    width: 100%;
                    margin: 16px auto;
                    display: block;
                }
            }
            .separator {
                font-size: 15px;
                font-weight: 600;
                margin: 24px auto 16px auto;
                position: relative;
                overflow: hidden;
                width: auto;
                text-align: center;
                color: rgba(0, 0, 0, 0.54);
                .text {
                    display: inline-block;
                    vertical-align: baseline;
                    position: relative;
                    padding: 0 8px;
                    z-index: 9999;
                    &:before,
                    &:after {
                        content: '';
                        display: block;
                        width: 50px;
                        position: absolute;
                        top: 10px;
                        border-top: 1px solid rgba(0, 0, 0, 0.12);
                    }
                    &:before {
                        right: 100%;
                    }
                    &:after {
                        left: 100%;
                    }
                }
            }
            .md-button {
                &.google,
                &.facebook {
                    width: 70%;
                    text-transform: none;
                    color: #FFFFFF;
                    font-size: 13px;
                    md-icon {
                        color: #FFFFFF;
                        margin: 0 8px 0 0;
                    }
                }
                &.google {
                    background-color: #D73D32;
                }
                &.facebook {
                    background-color: rgb(63, 92, 154);
                }
            }
            .register {
                margin: 50px auto 24px auto;
                width: 250px;
                font-weight: 500;
                .text {
                    margin-right: 8px;
                }
                .link {}
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {
    #login-v2-intro {
        &.game-wrapper {
            background: #000000!important;
            display: none;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 99999;
            padding: 0px!important;
            width: 100%;
            height: 100%;
            .close-button {
                position: fixed;
                top: 34px;
                width: 35px;
                height: 35px;
                background: #ffffff;
                text-align: center;
                display: block!important;
                md-icon {
                    margin-top: 6px;
                }
            }
            &.show {
                display: block!important;
            }
        }
    }
    #login-v2 {
        #login-v2-form-wrapper {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            #login-v2-form {
                text-align: center;
                padding: 24px;
                .md-button {
                    &.google,
                    &.facebook {
                        width: 80%;
                    }
                }
            }
        }
    }
    .mobile-intro-game-play {
        &.hide {
            display: none!important;
        }
    }
    .mobile-intro-game-thumb,
    .mobile-intro-game-play {
        display: block!important;
    }
}